@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

@import "tailwindcss";



.head {
  font-family: "Schibsted Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;

  /* Outline effect */
  color: transparent;
  -webkit-text-stroke: 1.2px #007e43; /* border color */
}

body {
  background:#2f3b2f10;
  font-family: Arial, Helvetica, sans-serif;
}



